/* Styles for Mobile Site */

/* Header & Hero */
header h1 {
display: flex;
justify-content: center;
}

#hero {
text-align: center;
}


h1, h2, h3 {
font-family: "Bungee Shade";

}

.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

p {
font-family: "Boldonse";
font-size: 15px;
}


/* Projects */

#projects {

text-align: center;

}



/* Reviews */
.review { 
display: grid;
background-color: rgb(196, 196, 196);
box-shadow: 2px 2px 10px 3px;
width: 100rem;
height: auto;
}


.review p {
font-size: 15px;
}





/* Footer */



/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */

}