/* Styles for Mobile Site */



body {
  background-color: #4DE1EB ;
  align-content: center;
  }


#hero p {
color: #4de1eb;
}

header {
border: #403630;
border-style: inset;
margin: 0%;
padding-bottom: 5rem;
border-radius: 200px;
background-color: #996848;
justify-content: center;
}


/* Header & Hero */
header h1 {
display: flex;
justify-content: center;
}

#hero {
text-align: center;
}


h1, h2, h3 {
font-family: "Bungee Shade";

}



p {
font-family: "Boldonse";
font-size: 15px;
}


/* Projects */

#projects h2 {
  border: #403630;
  border-style: double;
  background-color: #996848;
  box-shadow: 2px 2px 10px 3px;
}


#projects p {
  color: #403630;
  }

#projects {
text-align: center;

}



/* Reviews */
.review { 
display: grid;
background-color: rgb(196, 196, 196);
box-shadow: 2px 2px 10px 3px;
width: 100rem;
height: auto;
}


.review p {
font-size: 15px;
}

.name h3 {
color: #000000;
font-size: 30px;
}





/* Footer */

footer {
display: flex;
flex-direction: column;
margin-top: 100px;
text-align: center;
border: #403630;
border-style: inset;
background-color: #996848;
color: #000000;
font-size: 20px;
}

/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
header {
  max-width: 100%;
  display: grid;
  align-items: center;
}
    /* Projects */
#projects {
max-width: 100%;
display: flex;
flex-direction: column;
box-sizing: content-box;
justify-content: center;
}
    /* Reviews */
#reviews {
  max-width: 100%;
}
    /* Footer */

}