/* Styles for Mobile Site */

/* Header & Hero */

h1, h2, h3 {
font-family: "Bungee Shade";

}

.bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

p {
font-family: "Boldonse";
font-size: 15px;
}


/* Projects */




/* Reviews */

.name1 {
    display: flex;
}

.name2 {
    display: flex;
    justify-self: center;
}

.name3 {
display: flex;
justify-self: right;

}
/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */

}